extends bloglayout
block bcontent
  include narbar.jade
  div.jumbotron
    div.container
      - if (!user)
      
        h1 Welcome to lunch decider

        p
          a(class='btn btn-primary btn-lg' href='/login' role="button") Sign-in
          a(class='btn btn-lg' href='/reg' role="button") Sign-up
      - else
        include ./say.jade
  div.container
    include ./posts.jade
    include footer.jade
