//
   Created by root on 11/19/14.

extends bloglayout
block bcontent
   include narbar.jade
   div.container
      h2 Today, we are going to
      h1
         | Restraunt:
         = ' ' + chosen_restraunt

      p Meet you @ Hallway, 12:00pm.
      include footer.jade