h3 post what you want to say here.
form(class='well form-inline center' method='post' action='/post' style='text-align:center;')
  input(type='text' class='input-lg' id='post' name='post')
  button(type='submit' class='btn btn-success') 
    span= 'Post!   '
    span.glyphicon.glyphicon-comment 
